absl-py==2.4.0
cloudpickle==3.1.2
etils==1.14.0
Farama-Notifications==0.0.4
filelock==3.25.2
fsspec==2026.3.0
glfw==2.10.0
gymnasium==1.2.3
gymnasium-robotics==1.4.2
ImageIO==2.37.3
Jinja2==3.1.6
MarkupSafe==3.0.3
mpmath==1.3.0
mujoco==3.6.0
networkx==3.6.1
numpy==1.26.4
packaging==26.0
pettingzoo==1.25.0
pillow==12.2.0
PyOpenGL==3.1.10
sympy==1.14.0
torch==2.2.2
typing_extensions==4.15.0
zipp==3.23.0
